// Foregrounds

.druid {
  color: $druid;
}

.hunter {
  color: $hunter;
}

.mage {
  color: $mage;
}

.priest {
  color: $priest;
}

.rogue {
  color: $rogue;
}

.shaman {
  color: $shaman;
}

.warlock {
  color: $warlock;
}

.warrior {
  color: $warrior;
}

// Backgrounds

.druid-bg {
  background: $druid;
}

.hunter-bg {
  background: $hunter;
}

.mage-bg {
  background: $mage;
}

.priest-bg {
  background: $priest;
}

.rogue-bg {
  background: $rogue;
}

.shaman-bg {
  background: $shaman;
}

.warlock-bg {
  background: $warlock;
}

.warrior-bg {
  background: $warrior;
}
