// Class Colours

$druid:   #FF7D0A;
$hunter:  #A9D271;
$mage:    #40C7EB;
$priest:  #FFFFFF;
$rogue:   #FFF569;
$shaman:  #0070DE;
$warlock: #8787ED;
$warrior: #C79C6E;

// Breakpoints
$screen-xs-max: 576px;
$screen-sm-max: 768px;
$screen-md-max: 992px;
$screen-lg-max: 1200px;
