{% extends "main.twig" %}

{% block title %}Guild Management{% endblock %}

{% block content %}
    <div class="page-header">
        <h1><i class="fas fa-user-friends"></i> Guild Management</h1>
    </div>
    <div class="row">
        <div class="col my-4">
            <button id="add-guild" type="button" role="button" class="btn btn-outline-primary"><i class="fas fa-user-friends"></i> Add Guild</button>
        </div>
    </div>
    <table id="guild-management" class="table table-striped text-light" style="width:100%;">
        <thead class="text-dark bg-light">
            <tr>
                <th>Name</th>
                <th>Logo Filename</th>
            </tr>
        </thead>
        <tbody>
            {% for guild in guilds %}
                <tr>
                    <td>{{ guild.getName }}</td>
                    {% if guild.getLogo is null %}
                        <td>Not specified</td>
                    {% else %}
                        <td>{{ guild.getLogo|default('Not specified') }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="modal fade" id="guild-add-modal" tabindex="-1" role="dialog" aria-labelledby="guild-add-modal-label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-dark">
                    <h5 class="modal-title" id="guild-add-modal-label">Add Guild</h5>
                    <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-dark">
                    <form id="guild-form">
                        <div class="form-group">
                            <label for="name">Guild Name</label>
                            <input id="name" name="name" type="text" class="form-control" placeholder="Guild Name" required>
                        </div>
                        <div class="form-group">
                            <label for="name">Logo Filename</label>
                            <input id="logo" name="logo" type="text" class="form-control" placeholder="Guild Logo Filename" required>
                        </div>
                    </form>
                </div>
                <div class="modal-footer bg-dark">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="guild-save" type="button" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
