<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">DH & Syz EPGP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% if user.isOfficer %}
                {%  if user.isOfficer and not user.isLooter and not user.isAdmin %}
                    <li class="nav-item">
                        <a class="nav-link" href="/"><i class="fas fa-chart-line"></i> Totals</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/raids">Raids</a>
                    </li>
                {% endif %}
                {%  if user.isLooter %}
                    <li class="nav-item">
                        <a class="nav-link" href="/"><i class="fas fa-chart-line"></i> Totals</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/raids">Raids</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/characters"><i class="fas fa-users"></i> Characters</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/loot">Loot</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/epgp">EPGP</a>
                    </li>
                {% endif  %}
                {% if user.isAdmin %}
                    <li class="nav-item">
                        <a class="nav-link" href="/guilds"><i class="fas fa-user-friends"></i> Guilds</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/locations"><i class="far fa-compass"></i> Locations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">Admin</a>
                    </li>
                {% endif %}
            {% endif %}
        </ul>
        <ul class="navbar-nav ml-auto">
            {% if user.isOfficer %}
                <a class="navbar-brand" href="/logout">Hi {{ user.getUsername|capitalize }}</a>
                <li class="nav-item">
                    <a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/login"><i class="fas fa-sign-in-alt"></i> Login</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
